http://{$APP_NAME}-caddy {
    root * /srv/static
    file_server
}

:80 {
    root * /srv/static

    @has_file file {path}
    handle @has_file {
        header Cache-Control "public, max-age=60, stale-while-revalidate=30"
        file_server
    }

    reverse_proxy {$APP_NAME}:3000
}
